<body>
    <div class="container">
        <img class="imagen-cinema" src="https://static.vecteezy.com/system/resources/previews/010/973/641/non_2x/movie-poster-cinema-banner-with-popcorn-soda-clapperboard-glowing-cinema-banner-illustration-vector.jpg"  alt="Image of Cinemark2">
        <div>
          <div><h1 class="title">¡Bienvenido a CineMark2!</h1></div>
          <div class="info">En esta página podrás encontrar información sobre las películas que se encuentran en cartelera</div>
        </div>
    </div>
</body>    



